body {
    background: #002650;
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
}

.bodyContainer {
    padding: 0px 5vw;
    text-align: justify;
}

button {
    margin: 5px;
}

h1 {
    text-align: center;
}