/* buttons */
.calButton{
    border-radius:5px !important;
    margin:3px;
    color:white;
}

.calhs {
  background: #d86313;
}

.calsc{
  background: #007fda;
}

.calhots{
  background: #8c38cb;
}

.calwow{
  background: #cc9a00;
}

.calow{
  background: #7f7f7f;
}

/* calendar */
.calCheckbox{
    margin-bottom:10px;
}

.fc-day-grid-container {
  height: 42vh !important;
}

#calendarID > .fc-view-container > .fc-basicWeek-view  > table > tbody > tr > .fc-widget-content > .fc-day-grid-container > .fc-day-grid > .fc-week {
  height: 50vh;
}

#calendarID > .fc-view-container > .fc-basicDay-view  > table > tbody > tr > .fc-widget-content > .fc-day-grid-container > .fc-day-grid > .fc-widget-content {
  height: 50vh;
}


#calContainer {
  height: 69vh;
  width: 90vw;
}

.fc-today {
  background: #303030 !important;
}

/* modal */
.calhgg {
  background: #d86313;
}

.calswc{
  background: #007fda;
}

.calhgc{
  background: #8c38cb;
}

.calawc{
  background: #cc9a00;
}

.calmdi{
  background: #cc9a00;
}

.calowc{
  background: #7f7f7f;
}

.cala {
  color: black;
  text-decoration: underline
}